body {
  font-family: "Josefin+Sans", sans-serif;
  font-size: 16px;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.header-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #7e33e0;
  height: 45px;
}
.header-bar .header-bar-core {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  width: 100%;
  padding: 15px;
}
.header-bar .header-bar-core .contact-infor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 350px;
  width: 100%;
}
.header-bar .header-bar-core .contact-infor .email, .header-bar .header-bar-core .contact-infor .phone {
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0;
  color: #f1f1f1;
  gap: 10px;
  cursor: pointer;
}
.header-bar .header-bar-core .login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 430px;
  width: 100%;
}
.header-bar .header-bar-core .login .login-infor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
  cursor: pointer;
}
.header-bar .header-bar-core .login .login-infor select {
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  color: #f1f1f1;
  border: none;
  background-color: #7e33e0;
}
.header-bar .header-bar-core .login .login-infor select:focus {
  outline: none;
}
.header-bar .header-bar-core .login .login-infor > a {
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  color: #f1f1f1;
  text-decoration: none;
}
.header-bar .header-bar-core .login > a {
  cursor: pointer;
  text-decoration: none;
}
.header-bar .header-bar-core .login > a i {
  display: flex;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0;
  color: #f1f1f1;
}

.home-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.home-nav .home-nav-core {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  width: 100%;
}
.home-nav .home-nav-core .home-nav-core-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: fit-content;
  width: 100%;
  gap: 88px;
}
.home-nav .home-nav-core .home-nav-core-left h2 {
  font-size: 34px;
  color: #0d0e43;
}
.home-nav .home-nav-core .home-nav-core-left .home-nav-core-a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  gap: 35px;
}
.home-nav .home-nav-core .home-nav-core-left .home-nav-core-a .home-nav-item {
  display: inline-flex;
  align-items: center;
  color: #fb2e86;
  text-decoration: none;
}
.home-nav .home-nav-core .home-nav-core-left .home-nav-core-a .home-nav-item > a {
  color: #0d0e43;
  text-decoration: none;
}
.home-nav .home-nav-core .home-nav-core-left .home-nav-core-a .home-nav-item > i {
  display: none;
  color: #fb2e86;
}
.home-nav .home-nav-core .home-nav-core-left .home-nav-core-a .home-nav-item {
  /* active */
}
.home-nav .home-nav-core .home-nav-core-left .home-nav-core-a .home-nav-item.active a {
  color: #fb2e86;
  text-decoration: none;
}
.home-nav .home-nav-core .home-nav-core-left .home-nav-core-a .home-nav-item.active i {
  display: inline;
  color: #fb2e86;
}
.home-nav .home-nav-core .search {
  display: flex;
  position: relative;
  align-items: center;
  max-width: 317px;
  width: 100%;
  border: 2px solid #e7e6ef;
}
.home-nav .home-nav-core .search .text-search {
  height: 40px;
  font-size: 16px;
  border: none;
}
.home-nav .home-nav-core .search .text-search:focus {
  outline: none;
}
.home-nav .home-nav-core .search .search-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fb2e86;
  border: none;
  max-width: fit-content;
  width: 100%;
  aspect-ratio: 1/1;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
}
.home-nav .home-nav-core .search .search-button i {
  font-size: 20px;
  color: #f3f9ff;
}

.banner {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f6f5ff;
}
.banner .banner-core {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 314px;
  width: 100%;
  padding: 96px 1232px 126px 374px;
}
.banner .banner-core h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  color: #101750;
}
.banner .banner-core .banner-nav {
  display: flex;
  gap: 5px;
}
.banner .banner-core .banner-nav a {
  display: flex;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}
.banner .banner-core .banner-nav a:nth-child(3) {
  color: #fb2e86;
}

.blog {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 100px 0px;
}
.blog .blog-core {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 56px;
  max-width: fit-content;
  width: 100%;
}
.blog .blog-core .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 42px;
  max-width: 870px;
  width: 100%;
}
.blog .blog-core .left .left-unit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 28px;
}
.blog .blog-core .left .left-unit .img {
  display: flex;
  overflow: hidden;
  max-width: fit-content;
  width: 100%;
  border: none;
  border-radius: 6px;
}
.blog .blog-core .left .left-unit .img img {
  object-fit: cover;
  width: 870px;
  height: 453px;
}
.blog .blog-core .left .left-unit .infor {
  display: flex;
  gap: 27px;
}
.blog .blog-core .left .left-unit .infor .name1, .blog .blog-core .left .left-unit .infor .name2 {
  display: flex;
  align-items: center;
  gap: 5px;
}
.blog .blog-core .left .left-unit .infor .name1 i, .blog .blog-core .left .left-unit .infor .name2 i {
  font-size: 11px;
  color: #fb2e86;
}
.blog .blog-core .left .left-unit .infor .name1 span, .blog .blog-core .left .left-unit .infor .name2 span {
  display: flex;
  background-color: #ffe7f9;
  color: #151875;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  border: none;
  border-radius: 2px;
  padding: 4px 43px;
  max-width: fit-content;
  width: 100%;
}
.blog .blog-core .left .left-unit .infor .name2 i {
  color: #ffa454;
}
.blog .blog-core .left .left-unit .infor .name2 span {
  background-color: #ffece2;
}
.blog .blog-core .left .left-unit h4 {
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  color: #151875;
  margin: 0;
}
.blog .blog-core .left .left-unit p {
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  letter-spacing: 0%;
  color: #8a8fb9;
  margin: 0;
}
.blog .blog-core .left .left-unit h6 {
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  color: #151875;
  cursor: pointer;
  margin: 0;
}
.blog .blog-core .left .nav-total {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 36px;
}
.blog .blog-core .left .nav-total button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  color: #e0d3f5;
  max-width: 32px;
  width: 100%;
  border: 1px solid #e0d3f5;
  background-color: #ffffff;
  cursor: pointer;
}
.blog .blog-core .left .nav-total button:nth-child(1) {
  background-color: #fb2e86;
  color: #ffffff;
}
.blog .blog-core .right {
  display: flex;
  flex-direction: column;
  gap: 37px;
  max-width: fit-content;
  width: 100%;
}
.blog .blog-core .right h5 {
  font-size: 22px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  color: #151875;
  margin: 0;
}
.blog .blog-core .right .unit1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.blog .blog-core .right .unit1 form {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 270px;
  width: 100%;
  border: 1px solid #bdbdd8;
  border-radius: 2px;
  background-color: #ffffff;
  height: 40px;
}
.blog .blog-core .right .unit1 form input {
  border: none;
}
.blog .blog-core .right .unit1 form input::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  color: #cbcbe0;
  opacity: 1;
}
.blog .blog-core .right .unit1 form input:focus {
  outline: none;
}
.blog .blog-core .right .unit1 form button {
  position: absolute;
  right: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: none;
  width: 16px;
  cursor: pointer;
}
.blog .blog-core .right .unit1 form button i {
  font-size: 11px;
  color: #cbcbe0;
}
.blog .blog-core .right .unit2 {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.blog .blog-core .right .unit2 .unit2-detail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 12px;
}
.blog .blog-core .right .unit2 .unit2-detail span {
  display: flex;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  color: #3f509e;
  background-color: none;
  padding: 8px 33px 8px 9px;
  max-width: fit-content;
  width: 100%;
  cursor: pointer;
}
.blog .blog-core .right .unit2 .unit2-detail span.span-active {
  background-color: #f939bf;
  color: #ffffff;
  border-radius: 3px;
}
.blog .blog-core .right .unit3, .blog .blog-core .right .unit4 {
  display: flex;
  flex-direction: column;
  gap: 37px;
}
.blog .blog-core .right .unit3 .travel, .blog .blog-core .right .unit4 .travel {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.blog .blog-core .right .unit3 .travel .travel-unit, .blog .blog-core .right .unit4 .travel .travel-unit {
  display: flex;
  align-items: center;
  max-width: fit-content;
  width: 100%;
  gap: 6px;
}
.blog .blog-core .right .unit3 .travel .travel-unit .img, .blog .blog-core .right .unit4 .travel .travel-unit .img {
  display: flex;
  overflow: hidden;
  max-width: fit-content;
  width: 100%;
  background-color: #c4c4c4;
}
.blog .blog-core .right .unit3 .travel .travel-unit .img img, .blog .blog-core .right .unit4 .travel .travel-unit .img img {
  object-fit: cover;
  width: 70px;
  height: 51px;
}
.blog .blog-core .right .unit3 .travel .travel-unit .travel-detail, .blog .blog-core .right .unit4 .travel .travel-unit .travel-detail {
  display: flex;
  flex-direction: column;
}
.blog .blog-core .right .unit3 .travel .travel-unit .travel-detail p, .blog .blog-core .right .unit4 .travel .travel-unit .travel-detail p {
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  color: #3f509e;
  margin: 0;
  padding-bottom: 5px;
}
.blog .blog-core .right .unit3 .travel .travel-unit .travel-detail span, .blog .blog-core .right .unit4 .travel .travel-unit .travel-detail span {
  font-size: 11px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  color: #8a8fb9;
}
.blog .blog-core .right .unit5 {
  display: flex;
  flex-direction: column;
  gap: 37px;
}
.blog .blog-core .right .unit5 .product {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.blog .blog-core .right .unit5 .product .row-product {
  display: flex;
  max-width: fit-content;
  width: 100%;
  gap: 15px;
}
.blog .blog-core .right .unit5 .product .row-product .product-unit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  max-width: fit-content;
  width: 100%;
}
.blog .blog-core .right .unit5 .product .row-product .product-unit .img-product {
  display: flex;
  overflow: hidden;
  max-width: fit-content;
  width: 100%;
}
.blog .blog-core .right .unit5 .product .row-product .product-unit .img-product img {
  object-fit: cover;
  width: 126px;
  height: 80px;
}
.blog .blog-core .right .unit5 .product .row-product .product-unit > span:nth-of-type(1) {
  font-size: 14px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  color: #151875;
}
.blog .blog-core .right .unit5 .product .row-product .product-unit > span:nth-of-type(2) {
  font-size: 12px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  color: #8a8fb9;
}
.blog .blog-core .right .unit6 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.blog .blog-core .right .unit6 .nav {
  display: flex;
  flex-direction: row;
  gap: 14px;
}
.blog .blog-core .right .unit6 .nav .nav-unit {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 25px;
  width: 100%;
  aspect-ratio: 1/1;
  border: none;
  border-radius: 50%;
}
.blog .blog-core .right .unit6 .nav .nav-unit a {
  text-decoration: none;
  cursor: pointer;
}
.blog .blog-core .right .unit6 .nav .nav-unit a i {
  font-size: 15px;
  color: #ffffff;
}
.blog .blog-core .right .unit6 .nav .nav-unit:nth-of-type(1) {
  background-color: #5625df;
}
.blog .blog-core .right .unit6 .nav .nav-unit:nth-of-type(2) {
  background-color: #ff27b7;
}
.blog .blog-core .right .unit6 .nav .nav-unit:nth-of-type(3) {
  background-color: #37daf3;
}
.blog .blog-core .right .unit7 {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.blog .blog-core .right .unit7 .tag {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 41px;
  row-gap: 12px;
}
.blog .blog-core .right .unit7 .tag a {
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  letter-spacing: 0%;
  color: #151875;
  text-decoration: underline;
}
.blog .blog-core .right .unit7 .tag a:nth-of-type(2) {
  color: #fb2e86;
}

.brand {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 50px 0px 100px;
}
.brand .brand-core {
  display: flex;
  justify-content: center;
  max-width: fit-content;
  overflow: hidden;
  width: 100%;
}
.brand .brand-core img {
  object-fit: cover;
  width: 904px;
}

.footer {
  display: flex;
  flex-direction: column;
}
.footer .footer-top {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #eeeffb;
}
.footer .footer-top .footer-details {
  display: flex;
  justify-content: space-between;
  max-width: 1165px;
  width: 100%;
  padding: 95px 446px 100px 308px;
}
.footer .footer-top .footer-details .hekto {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  width: 100%;
}
.footer .footer-top .footer-details .hekto h3 {
  font-size: 38px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}
.footer .footer-top .footer-details .hekto form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.footer .footer-top .footer-details .hekto form input {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  color: #8a8fb9;
  border: none;
  border-radius: 3px;
  padding: 14px 217px 11px 20px;
  opacity: 45%;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
}
.footer .footer-top .footer-details .hekto form input:focus {
  outline: none;
}
.footer .footer-top .footer-details .hekto form button {
  display: flex;
  position: absolute;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  color: #eeeffb;
  padding: 10px 40px;
  border: none;
  background-color: #fb2e86;
  border-radius: 3px;
  margin-right: 2px;
  cursor: pointer;
}
.footer .footer-top .footer-details .hekto .contact-infor {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 25px 0px;
  gap: 10px;
}
.footer .footer-top .footer-details .hekto .contact-infor span {
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  color: #8a8fb9;
}
.footer .footer-top .footer-details .details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer .footer-top .footer-details .details h5 {
  font-size: 22px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}
.footer .footer-top .footer-details .details span {
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  color: #8a8fb9;
}
.footer .footer-bottom {
  display: flex;
  justify-content: center;
  background-color: #e7e4f8;
  width: 100%;
}
.footer .footer-bottom .footer-bottom-core {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1024px;
  width: 100%;
  padding: 17px 100px;
}
.footer .footer-bottom .footer-bottom-core span {
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  color: #9da0ae;
}
.footer .footer-bottom .footer-bottom-core .footer-icon {
  display: flex;
  align-items: center;
  max-width: fit-content;
  width: 100%;
  gap: 11px;
}
.footer .footer-bottom .footer-bottom-core .footer-icon .footer-icon-unit {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d0e43;
  border: none;
  width: 19.42px;
  aspect-ratio: 1/1;
  border-radius: 50px;
  padding: 4px;
}
.footer .footer-bottom .footer-bottom-core .footer-icon .footer-icon-unit i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12.4px;
  aspect-ratio: 1/1;
  color: #ffffff;
}

/*# sourceMappingURL=blog-page.css.map */
