$max-width-bar: 1170px;
$header-background-color: #7e33e0;
$font-family-size: 16px;
$font-color: #f1f1f1;
$title-color: #0d0e43;
$title-size: 34px;
$button-color: #fb2e86;
$border-color: #e7e6ef;
$detailed-color: #8a8fb9;
$background-color: #ffffff;
$cover-color: #f2f0ff;
$section-title-color: #1a0b5b;
$section-title-size: 42px;
$featured-color: #f6f7fb;
$code-product-color: #151875;

body {
  box-sizing: border-box;
  font-family: "Josefin+Sans", sans-serif;
  font-size: 16px;
  background-color: $background-color;
  margin: 0;
  padding: 0;
}
.header-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $header-background-color;
  height: 45px;
  .header-bar-core {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: $max-width-bar;
    width: 100%;
    padding: 15px;
    .contact-infor {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      max-width: 350px;
      width: 100%;
      .email {
        font-size: $font-family-size;
        font-weight: 600;
        line-height: 100%;
        letter-spacing: 0;
        color: $font-color;
        gap: 10px;
        cursor: pointer;
      }
      .phone {
        @extend .email;
      }
    }
    .login {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      max-width: 430px;
      width: 100%;
      .login-infor {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 15px;
        cursor: pointer;
        select {
          font-size: 16px;
          font-weight: 600;
          line-height: 100%;
          letter-spacing: 0%;
          color: #f1f1f1;
          border: none;
          background-color: #7e33e0;
        }
        select:focus {
          outline: none;
        }
        > a {
          font-size: 16px;
          font-weight: 600;
          line-height: 100%;
          letter-spacing: 0%;
          color: #f1f1f1;
          text-decoration: none;
        }
      }
      > a {
        cursor: pointer;
        text-decoration: none;
        i {
          display: flex;
          font-size: $font-family-size;
          font-weight: 600;
          line-height: 100%;
          letter-spacing: 0;
          color: $font-color;
        }
      }
    }
  }
}
.home-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .home-nav-core {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: $max-width-bar;
    width: 100%;
    .home-nav-core-left {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      max-width: fit-content;
      width: 100%;
      gap: 88px;
      h2 {
        font-size: $title-size;
        color: $title-color;
      }
      .home-nav-core-a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        gap: 35px;
        .home-nav-item {
          display: inline-flex;
          align-items: center;
          color: $button-color;
          text-decoration: none;
          > a {
            color: $title-color;
            text-decoration: none;
          }
          > i {
            display: none;
            color: $button-color;
          }
          /* active */
          &.active {
            a {
              color: $button-color;
              text-decoration: none;
            }
            i {
              display: inline;
              color: $button-color;
            }
          }
        }
      }
    }
    .search {
      display: flex;
      position: relative;
      align-items: center;
      max-width: 317px;
      width: 100%;
      border: 2px solid $border-color;
      .text-search {
        height: 40px;
        font-size: 16px;
        border: none;
      }
      .text-search:focus {
        outline: none;
      }
      .search-button {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $button-color;
        border: none;
        max-width: fit-content;
        width: 100%;
        aspect-ratio: 1/1;
        cursor: pointer;
        top: 0;
        right: 0;
        bottom: 0;
        i {
          font-size: 20px;
          color: #f3f9ff;
        }
      }
    }
  }
}
.banner {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f6f5ff;
  .banner-core {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 314px;
    width: 100%;
    padding: 96px 1232px 126px 374px;
    h3 {
      font-size: 36px;
      font-weight: 700;
      line-height: 100%;
      letter-spacing: 0%;
      color: #101750;
    }
    .banner-nav {
      display: flex;
      gap: 5px;
      a {
        display: flex;
        text-decoration: none;
        color: #000000;
        cursor: pointer;
      }
      a:nth-child(3) {
        color: #fb2e86;
      }
    }
  }
}
.order {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 50px 0px;
  .order-core {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: fit-content;
    width: 100%;

    /* 1. Tạo cạnh đáy (100% chiều rộng) */
    background-image: radial-gradient(circle, #d2d1d1 1px, transparent 1.5px);
    background-size: 4px 4px; /* Khoảng cách giữa các chấm */
    background-position: bottom;
    background-repeat: repeat-x;

    /* 2. Tạo cạnh trái (75% chiều cao) */
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 4px; /* Độ rộng vùng chứa chấm */
      height: 75%; /* Giữ lại 75% chiều cao */

      background-image: radial-gradient(circle, #d2d1d1 1px, transparent 1.5px);
      background-size: 4px 4px; /* Khoảng cách chấm theo chiều dọc */
      background-position: left;
      background-repeat: repeat-y;
    }
    .order-main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: fit-content;
      width: 100%;
      padding: 65px 186px;
      .order-tick {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 65px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: #ffffff;
        border: 4px solid #f6f7fa;
        i {
          font-size: 40px;
          color: #ff1788;
        }
      }
      h3 {
        font-size: 36px;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: 0%;
        color: #101750;
      }
      p {
        font-size: 16px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: 0%;
        color: #8d92a7;
        max-width: 625px;
        width: 100%;
        text-align: center;
      }
      > a {
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: 0%;
        color: #ffffff;
        padding: 14px 36px;
        max-width: fit-content;
        width: 100%;
        border: none;
        border-radius: 3px;
        background-color: #ff1788;
        text-decoration: none;
        cursor: pointer;
      }
    }
    .order-clock {
      display: flex;
      position: absolute;
      overflow: hidden;
      max-width: fit-content;
      width: 100%;
      top: 25%;
      left: 0%;
      transform: translateX(-50%);
      img {
        object-fit: cover;
        width: 94px;
        aspect-ratio: 1/1;
      }
    }
    .order-check-list {
      display: flex;
      position: absolute;
      overflow: hidden;
      max-width: fit-content;
      width: 100%;
      top: 100%;
      right: 0%;
      transform: translate(50%, -50%);
      img {
        object-fit: cover;
        width: 70px;
        aspect-ratio: 1/1;
      }
    }
  }
}
.brand {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 50px 0px 100px;
  .brand-core {
    display: flex;
    justify-content: center;
    max-width: fit-content;
    overflow: hidden;
    width: 100%;
    img {
      object-fit: cover;
      width: 1176px;
    }
  }
}
.footer {
  display: flex;
  flex-direction: column;
  .footer-top {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #eeeffb;
    .footer-details {
      display: flex;
      justify-content: space-between;
      max-width: 1165px;
      width: 100%;
      padding: 95px 446px 100px 308px;
      .hekto {
        display: flex;
        flex-direction: column;
        max-width: fit-content;
        width: 100%;
        h3 {
          font-size: 38px;
          font-weight: 700;
          line-height: 100%;
          letter-spacing: 0%;
          color: #000000;
        }
        form {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          position: relative;
          input {
            display: flex;
            align-items: center;
            background-color: $background-color;
            color: #8a8fb9;
            border: none;
            border-radius: 3px;
            padding: 14px 217px 11px 20px;
            opacity: 45%;
            font-size: 16px;
            font-weight: 400;
            line-height: 100%;
            letter-spacing: 0%;
          }
          input:focus {
            outline: none;
          }
          button {
            display: flex;
            position: absolute;
            font-size: 16px;
            font-weight: 500;
            line-height: 100%;
            letter-spacing: 0%;
            color: #eeeffb;
            padding: 10px 40px;
            border: none;
            background-color: $button-color;
            border-radius: 3px;
            margin-right: 2px;
            cursor: pointer;
          }
        }
        .contact-infor {
          display: flex;
          flex-direction: column;
          width: fit-content;
          padding: 25px 0px;
          gap: 10px;
          span {
            font-size: 16px;
            font-weight: 400;
            line-height: 100%;
            letter-spacing: 0%;
            color: #8a8fb9;
          }
        }
      }
      .details {
        display: flex;
        flex-direction: column;
        gap: 20px;
        h5 {
          font-size: 22px;
          font-weight: 600;
          line-height: 100%;
          letter-spacing: 0%;
          color: #000000;
        }
        span {
          font-size: 16px;
          font-weight: 400;
          line-height: 100%;
          letter-spacing: 0%;
          color: #8a8fb9;
        }
      }
    }
  }
  .footer-bottom {
    display: flex;
    justify-content: center;
    background-color: #e7e4f8;
    width: 100%;
    .footer-bottom-core {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1024px;
      width: 100%;
      padding: 17px 100px;
      span {
        font-size: 16px;
        font-weight: 600;
        line-height: 100%;
        letter-spacing: 0%;
        color: #9da0ae;
      }
      .footer-icon {
        display: flex;
        align-items: center;
        max-width: fit-content;
        width: 100%;
        gap: 11px;
        .footer-icon-unit {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #0d0e43;
          border: none;
          width: 19.42px;
          aspect-ratio: 1/1;
          border-radius: 50px;
          padding: 4px;
          i {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 12.4px;
            aspect-ratio: 1/1;
            color: $background-color;
          }
        }
      }
    }
  }
}
