$max-width-bar: 1170px;
$header-background-color: #7e33e0;
$font-family-size: 16px;
$font-color: #f1f1f1;
$title-color: #0d0e43;
$title-size: 34px;
$button-color: #fb2e86;
$border-color: #e7e6ef;
$detailed-color: #8a8fb9;
$background-color: #ffffff;
$cover-color: #f2f0ff;
$section-title-color: #1a0b5b;
$section-title-size: 42px;
$featured-color: #f6f7fb;
$code-product-color: #151875;

body {
  box-sizing: border-box;
  font-family: "Josefin+Sans", sans-serif;
  font-size: 16px;
  background-color: $background-color;
  margin: 0;
  padding: 0;
}
.header-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-shrink: 1;
  background-color: $header-background-color;
  .header-bar-core {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: $max-width-bar;
    width: 100%;
    padding: 15px;
    .contact-infor {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      max-width: 350px;
      width: 100%;
      .email {
        font-size: $font-family-size;
        font-weight: 600;
        line-height: 100%;
        letter-spacing: 0;
        color: $font-color;
        gap: 10px;
        cursor: pointer;
      }
      .phone {
        @extend .email;
      }
    }
    .login {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      max-width: 430px;
      width: 100%;
      .login-infor {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 15px;
        cursor: pointer;
        .login-unit {
          display: flex;
          font-size: $font-family-size;
          font-weight: 600;
          line-height: 100%;
          letter-spacing: 0;
          color: $font-color;
          gap: 2px;
        }
      }
      .cart {
        @extend .login-infor;
        justify-content: center;
        i {
          display: flex;
          font-size: $font-family-size;
          font-weight: 600;
          line-height: 100%;
          letter-spacing: 0;
          color: $font-color;
        }
      }
    }
  }
}
.home-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .home-nav-core {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: $max-width-bar;
    width: 100%;
    .home-nav-core-left {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      max-width: fit-content;
      width: 100%;
      gap: 88px;
      h2 {
        font-size: $title-size;
        color: $title-color;
      }
      .home-nav-core-a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        gap: 35px;
        .home {
          color: $button-color;
          text-decoration: none;
          a {
            @extend .home;
          }
          i {
            cursor: pointer;
          }
        }
        a {
          @extend .home;
          color: $title-color;
        }
      }
    }
    .search {
      display: flex;
      position: relative;
      align-items: center;
      max-width: 317px;
      width: 100%;
      border: 2px solid $border-color;
      .text-search {
        height: 40px;
        font-size: 16px;
        border: none;
      }
      .text-search:focus {
        outline: none;
      }
      .search-button {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $button-color;
        border: none;
        max-width: fit-content;
        width: 100%;
        aspect-ratio: 1/1;
        cursor: pointer;
        top: 0;
        right: 0;
        bottom: 0;
        i {
            font-size: 20px;
            color: #f3f9ff;
        }
      }
    }
  }
}
.banner {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f6f5ff;
  .banner-core {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 314px;
    width: 100%;
    padding: 96px 1232px 126px 374px;
    h3 {
      font-size: 36px;
      font-weight: 700;
      line-height: 100%;
      letter-spacing: 0%;
      color: #101750;
    }
    .banner-nav {
      display: flex;
      gap: 5px;
      a {
        display: flex;
        text-decoration: none;
        color: #000000;
        cursor: pointer;
      }
      a:nth-child(3) {
        color: #fb2e86;
      }
    }
  }
}
.condition {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 50px 0px;
  .condition-core {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $max-width-bar;
    width: 100%;
    gap: 10px;
    flex-shrink: 1;
    .condition-left {
      display: flex;
      flex-direction: column;
      width: fit-content;
      h4 {
        font-size: 22px;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: 0%;
        color: #151875;
      }
      p {
        font-size: 12px;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 0%;
        color: #8a8fb9;
      }
    }
    .condition-right {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 25px;
      .name {
        display: flex;
        gap: 8px;
        span {
          font-size: 16px;
          font-weight: 400;
          line-height: 100%;
          letter-spacing: 0%;
          color: #3f509e;
        }
        input {
          border: 1px solid #e7e6ef;
          flex-shrink: 1;
        }
        input:focus {
          outline: none;
        }
        select {
          border: 1px solid #e7e6ef;
        }
        select:focus {
          outline: none;
        }
        .page-input {
          width: 55px;
        }
        .sort-input {
          width: 96px;
          color: #3f509e;
        }
        .view-input {
          width: 162px;
        }
        button {
          display: flex;
          background: none;
          cursor: pointer;
          border: none;
          i {
            font-size: 12px;
            color: #151875;
          }
        }
      }
    }
  }
}
.product-infor {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 50px 0px;
  .product-infor-core {
    display: flex;
    justify-content: center;
    max-width: fit-content;
    width: 100%;
    gap: 36px;
    .infor {
      display: flex;
      flex-direction: column;
      max-width: fit-content;
      width: 100%;
      .infor-unit1 {
        display: flex;
        flex-direction: column;
        h5 {
          font-size: 20px;
          font-weight: 700;
          line-height: 30px;
          letter-spacing: 0%;
          text-decoration: underline;
          color: #151875;
          cursor: pointer;
        }
        .infor-unit-core {
          display: flex;
          flex-direction: column;
          gap: 8px;
          .infor-detail {
            display: flex;
            align-items: center;
            gap: 9px;
            .check {
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: #e5e0fc;
              width: 16px;
              aspect-ratio: 1/1;
              cursor: pointer;
              i {
                font-size: 8px;
                color: #603eff;
              }
            }
            .check1-3 {
              background-color: #603eff;
              i {
                color: #ffffff;
              }
            }
            span {
              font-size: 16px;
              font-weight: 400;
              line-height: 30px;
              letter-spacing: 0%;
              color: #7e81a2;
              cursor: pointer;
            }
          }
        }
      }
      .infor-unit2 {
        @extend .infor-unit1;
        .check2 {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #ffdbf1;
          width: 16px;
          aspect-ratio: 1/1;
          cursor: pointer;
          i {
            font-size: 8px;
            color: #ff3eb2;
          }
        }
      }
      .infor-unit3 {
        @extend .infor-unit1;
        .check3 {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 16px;
          aspect-ratio: 1/1;
          cursor: pointer;
          background-color: #fff6da;
          i {
            font-size: 8px;
            color: #ffcc2e;
          }
        }
        .check3-native {
          background-color: #ffcc2e;
          i {
            color: #ffffff;
          }
        }
        .star1 {
          display: flex;
          flex-direction: row;
          gap: 2px;
          > i {
            font-size: 10px;
            color: #ffc107;
          }
          > i:last-of-type {
            color: #b2b2b2;
          }
        }
        .star2 {
          @extend .star1;
          > i:nth-last-child(-n + 2) {
            color: #b2b2b2;
          }
        }
        .star3 {
          @extend .star1;
          > i:nth-last-child(-n + 3) {
            color: #b2b2b2;
          }
        }
        .star4 {
          @extend .star3;
        }
        p {
          font-size: 12px;
          font-weight: 400;
          line-height: 30px;
          letter-spacing: 0%;
          color: #000000;
        }
      }
      .infor-unit4 {
        @extend .infor-unit1;
        .check4 {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 16px;
          aspect-ratio: 1/1;
          cursor: pointer;
          background-color: #ffdbf1;
          i {
            font-size: 8px;
            color: #ff3eb2;
          }
        }
        .check4-native {
          background-color: #ff3eb2;
          i {
            color: #ffffff;
          }
        }
        .check4-hidden {
          background: none;
          i {
            opacity: 0;
          }
        }
      }
      .infor-unit5 {
        @extend .infor-unit4;
        .form-detail {
          position: relative;
          align-items: center;
          border: 1px solid #bcbddb;
          border-radius: 3px;
          max-width: 203px;
          width: 100%;
          .input {
            font-size: 12px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0%;
            background-color: #ffffff;
            border: none;
            padding: 1px auto 1px 12px;
            color: #bcbddb;
          }
          .input:focus {
            outline: none;
          }
          button {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #ffffff;
            border: none;
            cursor: pointer;
            width: 16px;
            aspect-ratio: 1/1;
            top: 50%;
            transform: translateY(-50%);
            right: 7px;
            width: 16px;
            aspect-ratio: 1/1;
            i {
              font-size: 13px;
              color: #bcbddb;
            }
          }
        }
      }
      .infor-unit6 {
        @extend .infor-unit4;
        .color {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          max-width: 203px;
          width: 100%;
          .color-core {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 7px;
            span:nth-child(1) {
              display: flex;
              width: 14px;
              aspect-ratio: 1/1;
              border-radius: 50%;
            }
            span:nth-child(2) {
              font-size: 15px;
              font-weight: 400px;
              line-height: 30px;
              letter-spacing: 0%;
              color: #7e81a2;
            }
            .blue {
              background-color: #5e37ff;
            }
            .orange {
              background-color: #ff9437;
            }
            .brown {
              background-color: #ffbf95;
            }
            .green {
              background-color: #33d221;
            }
            .purple {
              background-color: #e248ff;
            }
            .sky {
              background-color: #26cbff;
            }
          }
        }
      }
    }
    .product-core {
      display: flex;
      flex-direction: column;
      max-width: fit-content;
      width: 100%;
      gap: 27px;
      .product-unit {
        display: flex;
        flex-direction: row;
        border: none;
        box-shadow: 0px 0px 20px 5px rgba(248, 246, 253, 0.75);
        max-width: fit-content;
        width: 100%;
        gap: 29px;
        padding: 16px 54px 17px 18px;
        .unit-left {
          display: block;
          overflow: hidden;
          max-width: fit-content;
          width: 100%;
          img {
            object-fit: cover;
            width: 284px;
            height: 197px;
          }
        }
        .unit-right {
          display: flex;
          flex-direction: column;
          max-width: 536px;
          width: 100%;
          .product-name {
            display: flex;
            justify-content: space-between;
            max-width: 240px;
            width: 100%;
            h5 {
              font-size: 18px;
              font-weight: 700;
              line-height: 100%;
              letter-spacing: 0%;
              color: #111c85;
            }
            .circle {
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 5px;
              > span {
                display: flex;
                flex-direction: row;
                width: 11px;
                aspect-ratio: 1/1;
                border: none;
                border-radius: 50%;
              }
              > span:nth-child(1) {
                background-color: #de9034;
              }
              > span:nth-child(2) {
                background-color: #e60584;
              }
              > span:nth-child(3) {
                background-color: #5e37ff;
              }
            }
          }
          .product-price {
            display: flex;
            flex-direction: row;
            gap: 16px;
            .price {
              display: flex;
              gap: 9px;
              > span {
                font-size: 14px;
                font-weight: 400;
                line-height: 100%;
                letter-spacing: 0%;
                color: #111c85;
              }
              > span:nth-child(2) {
                color: #ff2aaa;
                text-decoration: line-through;
              }
            }
            .evaluate {
              display: flex;
              flex-direction: row;
              gap: 2px;
              i {
                font-size: 10px;
                color: #ffc416;
              }
              i:last-of-type {
                color: #b2b2b2;
              }
            }
          }
          p {
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0%;
            color: #9295aa;
            max-width: 536px;
            width: 100%;
          }
          .product-nav {
            display: flex;
            flex-direction: row;
            gap: 19px;
            .nav-unit {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 31px;
              aspect-ratio: 1/1;
              box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.05);
              border: none;
              border-radius: 50%;
              background-color: #ffffff;
              cursor: pointer;
              i {
                font-size: 14px;
                color: #535399;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}
.brand {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 100px 0px;
  .brand-core {
    display: flex;
    justify-content: center;
    max-width: fit-content;
    overflow: hidden;
    width: 100%;
    img {
      object-fit: cover;
      width: 904px;
    }
  }
}
.footer {
  display: flex;
  flex-direction: column;
  .footer-top {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #eeeffb;
    .footer-details {
      display: flex;
      justify-content: space-between;
      max-width: 1165px;
      width: 100%;
      padding: 95px 446px 100px 308px;
      .hekto {
        display: flex;
        flex-direction: column;
        max-width: fit-content;
        width: 100%;
        h3 {
          font-size: 38px;
          font-weight: 700;
          line-height: 100%;
          letter-spacing: 0%;
          color: #000000;
        }
        form {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          position: relative;
          input {
            display: flex;
            align-items: center;
            background-color: $background-color;
            color: #8a8fb9;
            border: none;
            border-radius: 3px;
            padding: 14px 217px 11px 20px;
            opacity: 45%;
            font-size: 16px;
            font-weight: 400;
            line-height: 100%;
            letter-spacing: 0%;
          }
          input:focus {
            outline: none;
          }
          button {
            display: flex;
            position: absolute;
            font-size: 16px;
            font-weight: 500;
            line-height: 100%;
            letter-spacing: 0%;
            color: #eeeffb;
            padding: 10px 40px;
            border: none;
            background-color: $button-color;
            border-radius: 3px;
            margin-right: 2px;
            cursor: pointer;
          }
        }
        .contact-infor {
          display: flex;
          flex-direction: column;
          width: fit-content;
          padding: 25px 0px;
          gap: 10px;
          span {
            font-size: 16px;
            font-weight: 400;
            line-height: 100%;
            letter-spacing: 0%;
            color: #8a8fb9;
          }
        }
      }
      .details {
        display: flex;
        flex-direction: column;
        gap: 20px;
        h5 {
          font-size: 22px;
          font-weight: 600;
          line-height: 100%;
          letter-spacing: 0%;
          color: #000000;
        }
        span {
          font-size: 16px;
          font-weight: 400;
          line-height: 100%;
          letter-spacing: 0%;
          color: #8a8fb9;
        }
      }
    }
  }
  .footer-bottom {
    display: flex;
    justify-content: center;
    background-color: #e7e4f8;
    width: 100%;
    .footer-bottom-core {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1024px;
      width: 100%;
      padding: 17px 100px;
      span {
        font-size: 16px;
        font-weight: 600;
        line-height: 100%;
        letter-spacing: 0%;
        color: #9da0ae;
      }
      .footer-icon {
        display: flex;
        align-items: center;
        max-width: fit-content;
        width: 100%;
        gap: 11px;
        .footer-icon-unit {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #0d0e43;
          border: none;
          width: 19.42px;
          aspect-ratio: 1/1;
          border-radius: 50px;
          padding: 4px;
          i {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 12.4px;
            aspect-ratio: 1/1;
            color: $background-color;
          }
        }
      }
    }
  }
}
